@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.searchh{
  border-radius: 50px;
  width: 80%;
  padding: 11px 30px 11px 30px;
  background: #000;
  box-shadow:  0 0 10px 5px #FFCE33,
  0 0 20px 7px rgb(131, 131, 40);
  font-size: 18px;
  outline: none;
  border: none;
  font-family: 'Signika Negative', sans-serif;;
}

.text-muted {
  color: #000000 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navcolor  {
  background-color: #FFCE33;
}

.text-custom-color {
  color: #000; /* Replace with the color you want */
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  width: 18rem;
  transition: transform 300ms ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  transition: background-color 300ms ease-in-out;
}

.card:hover {
  background-color: hsla(0, 0%, 8%, 0.982);
}
.navbar-dark .navbar-brand {
  color: #000000 !important;
  font-family: 'Lobster', cursive ;
  transform: skewX(15deg);
  font-weight: 100;
}
.home{
  color: #000000 !important;
  font-family: 'Signika Negative', sans-serif;
  margin: 0 0 0 1rem;
}